hr {
  color: #d0d0d0;
  margin-bottom: 12px;
  margin-top: 4px;
}

header {
  background: #2fa4e7;
  padding: 16px 8px;
  margin-bottom: 8px;
  font-size: 200%;
  color: #fff;
}

.pure-button-primary {
  background: #2fa4e7;
}

.contents {
  margin-left: 8px;
}

.free-info {
  color: #808080;
}
