{% args delays %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CANBell - Sensor Delays</title>
    <link rel="stylesheet" href="/static/pure-min.css">
  </head>
  <body>
    <form class="pure-form pure-form-aligned" action="/delays" method="post">
      <legend>Sensor Delays (ms)</legend>
      <fieldset>
        {% for i in range(len(delays)) %}
          <div class="pure-control-group">
            <label>Bell #{{i + 1}}</label>
          <input type="text" name="bell{{i}}" value={{delays[i]}} />
          </div>
        {% endfor %}
        <div class="pure-controls">
          <button name="action" value="cancel" type="submit" class="pure-button pure-button-secondary">Cancel</button>
          <button name="action" value="submit" type="submit" class="pure-button pure-button-primary">Set</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>

